<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy Shape Classification</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Galaxy Morphology Classification Demo</h1>
        <p>Utilizing PyTorch to train a Machine Learning Model on several datasets of Elliptical, Spiral, and Irregular galaxies.</p>
        <p>General Accuracy: 91%</p>

        <p>github: <a href="https://github.com/aftwasiq">aftwasiq</a> </p>

        <div class="file-frame">
            <input type="file" id="file" name="file" accept="image/*" required>
        </div>
        <button id="uploadButton">Upload Image</button>
        
        <img id="uploadedImage" src="" alt="Uploaded Image" style="display: none;">
        
        <button id="checkButton" style="display:none;">Check Morphology</button>
        <div id="predictionResult"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
