body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/static/background.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    font-family: "Roboto Light", monospace;
    color: #f0f0f0;
    margin: 0;
}
.container {
    border: 0px solid #181818;
    border-radius: 10px;
    padding: 20px;
    background-color: #181818;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 400px;
}
.file-frame {
    background-color: #202020;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
}
#uploadedImage {
    max-width: 300px;
    max-height: 300px;
    margin: 10px auto;
    background-color: #202020;
    border-radius: 5px;
    display: block;
}
input[type="file"] {
    margin: 10px 0;
    display: block;
    margin: 0 auto;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #202020;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
}
button:hover {
    background-color: #0056b3;
}
#predictionResult {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
